<div id="create_dish">
  <%= form_tag "/dishes", method: "post" do %>
      <%= label_tag(:name, "Dish name") %>
      <%= text_field_tag(:name, "Dish name") %>
      <%= label_tag(:description, "Dish description") %>
      <%= text_field_tag(:description, "Dish description") %>
      <%= label_tag(:price, "Price") %>
      <%= text_field_tag(:price, "Price") %>
      <%= label_tag(:portions, "Portions") %>
      <%= text_field_tag(:portions, "Nr of portions available") %>
      <%= label_tag(:pickup_time, "Pickup time") %>
      <%= text_field_tag(:pickup_time, "Earliest pickup time") %>
      <%= submit_tag("Create dish") %>
  <% end %>
</div>